Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# PFTau, no isolation requirement; and PFIsoTau with medium working point                                                                          
PFTau PFTau VisTau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
PFTau PFTauIso VisTau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 PFTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
PFTau PFIsoTau VisTau   -1 2.4   -1 0.15  UseFlag  0.3   -1 -1 -1 PFIsoTau 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
PFTau PFTauLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 PFTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
# CaloTau                                                                           
CaloTau  CaloTau  VisTau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
CaloTau  CaloTauIso  VisTau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 CaloTauIso  150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
CaloTau  CaloTauLDR  VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTauLDR  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
# TkTau                                                                          
TkTau TkTau VisTau   -1 2.4   -1 -1 None  0.15  -1 -1 -1 TkTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
TkTau TkTauIso VisTau   -1 2.4   -1 0.15  None  0.15  -1 -1 -1 TkTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
TkTau TkTauLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 TkTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
# CaloTkTau                                                                         
CaloTkTau   CaloTkTau   VisTau   -1 2.4   -1 -1 None  0.25  -1 -1 -1 CaloTkTau   150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
CaloTkTau   CaloTkTauIso   VisTau   -1 2.4   -1 0.15  None  0.25  -1 -1 -1 CaloTkTauIso   150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
CaloTkTau   CaloTkTauLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTkTauLDR   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
# TkEGTau                                                                           
TkEGTau  TkEGTau  VisTau   -1 2.4   -1 -1 None  0.15  -1 -1 -1 TkEGTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
TkEGTau  TkEGTauIso  VisTau   -1 2.4   -1 0.15  None  0.15  -1 -1 -1 TkEGTauIso  150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
TkEGTau  TkEGTauLDR  VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 TkEGTauLDR  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
# NNTau                                                                          
NNTau NNTau VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
NNTau NNTauIso VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauLDR VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0   10 Tau
NNTauLoose  NNTauLoose  VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauLoose  150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTauLoose  NNTauLooseIso  VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLooseIso  150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
NNTauLoose  NNTauLooseLDR  VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLooseLDR  150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTau NNTauNoID   VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 NNTauNoID   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauNoIDIso   VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 NNTauNoIDIso   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTau NNTauNoIDLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 NNTauNoIDLDR   150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
# HPSTau                                                                         
HPSTau   HPSTau   VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 HPSTau   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
HPSTau   HPSTauIso   VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 HPSTauIso   150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
HPSTau   HPSTauLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 HPSTauLDR   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
HPSTau   HPSIsoTau   VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 HPSIsoTau   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
