Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# Standalone muon collection, no quality                                                                          
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBarrel Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBarrel 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEndcap Muon  0.83  2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEndcap 100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoE   Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 StandaloneMuonIsoE   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoB   Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 StandaloneMuonIsoB   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoO   Muon  -1 2.4   -1 0.15  None  0.3   2  -1 -1 StandaloneMuonIsoO   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEEta   Muon  1.2   2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBEta   Muon  -1 0.9   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoOEta   Muon  0.9   1.2   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoOEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
# Standalone displaced muon collection, no quality.  Use PT2                                                                         
StandaloneDisplacedMuon StandaloneDisplacedMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneDisplacedMuon 100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneDisplacedMuonIso  100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelIso Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelIso  100   0  150   30 -1 1  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoE   Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 StandaloneDisplacedMuonIsoE 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoB   Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 StandaloneDisplacedMuonIsoB 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoO   Muon  -1 2.4   -1 0.15  None  0.3   2  -1 -1 StandaloneDisplacedMuonIsoO 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonLDR Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 StandaloneDisplacedMuonLDR 100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonDXYIso Muon  -1 2.4   -1 0.15  DXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonDXYIso  100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelDXYIso Muon  -1 0.83  -1 0.15  DXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelDXYIso  100   0  150   30 -1 1  200   0  5  110   0  110   Muon
# TkMuon, no quality selection                                                                           
TkMuon   TkMuon   Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuon   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonBarrel   Muon  -1 0.83  -1 -1 None  0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -1 1  200   0  5  110 0  110   Muon
TkMuon   TkMuonIso   Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoBarrel   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBarrel   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEndcap   Muon  0.83  2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEndcap   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoE  Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonIsoE  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoB  Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonIsoB  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoO  Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonIsoO  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoExtended Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonIsoExtended 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEEta  Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoBEta  Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBEta  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonIsoOEta  Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoOEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoExtendedEta Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoExtendedEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -1 1  200 0  5  110   0  110   Muon
TkMuon   TkMuonLDR   Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 TkMuonLDR   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
# TkMuonStubs, no quality selection                                                                         
TkMuonStub  TkMuonStub  Muon  -1 2.4   -1 -1 None  0.1   -1 -1 -1 TkMuonStub  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuonStub  TkMuonStubWide Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuonStubWide 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuonStub  TkMuonStubBarrelIso  Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonStubBarrelIso  100   0  150   30 -1  1  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIso  Muon  -1 2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIso  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubWideIso Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubWideIso 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoE Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonStubIsoE 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoB Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonStubIsoB 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoO Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonStubIsoO 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoExtended   Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonStubIsoExtended   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoEEta Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoEEta 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoBEta Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoBEta 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoOEta Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoOEta 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoExtendedEta   Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoExtendedEta   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubLDR  Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 TkMuonStubLDR  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuonStub  TkMuonStubExtendedLDR   Muon  2.4   2.8   -1 -1 None  1  -1 -1 -1 TkMuonStubExtendedLDR   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
# Standalone photons: EG + photon ID                                                                           
EG EG Photon   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   -1 0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGWideIso   Photon   -1 2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGWideIso   100   0  150   30 -3 3  200   0  5  100 0  10 EG
EG EGLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGExtendedIso  Photon   2.4   2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGExtendedIso  100   0  150   30 -3 3  200   0   5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -3 3  200   0  5   100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDWideIso  Electron -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDWideIso  100   0  150   30 -3  3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDExtendedIso Electron 2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDExtendedIso 100   0  150 30 -3 3  200   0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                          
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDWideIso   Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDWideIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackID  Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackID  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDIso  Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDWideIso Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDWideIso  100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDExtendedIso   Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDExtendedIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDLDR  Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronV2TrackIDLDR  100 0  150   30 -3 3  200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, 5 in endcap) + Tracker Isolation                                                                         
TkElectron  TkElectron  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectron  100   0  150   30 -3 3 200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronIso  100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectron  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronWide 100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronExtended   Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronExtended 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronLDR  100   0  150   30 -3  3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2   Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2   100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2Iso   Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2Iso   100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2IsoWide  Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2IsoWide   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2   Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2Wide  Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2Wide   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2Extended Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2Extended  100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2LDR   Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronV2LDR   100   0  150 30 -3 3  200   0  1  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                         
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30  -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0   150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIsoWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIsoWide  100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackID   100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDWide   100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDExtended Photon   2.4   2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDExtended  100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150 30 -3 3  200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                        
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30  -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVTrackID 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVEleTrackID  100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
