Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenVisTau   VisTau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenVisTau   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# Standalone muon collection, no quality                                                                          
StandaloneMuon StandaloneMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneMuon 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
StandaloneMuon StandaloneMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIso 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBarrel Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBarrel 100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEndcap Muon  0.83  2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEndcap 100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoE   Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 StandaloneMuonIsoE   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoB   Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 StandaloneMuonIsoB   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoO   Muon  -1 2.4   -1 0.15  None  0.3   2  -1 -1 StandaloneMuonIsoO   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoEEta   Muon  1.2   2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoEEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoBEta   Muon  -1 0.9   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoBEta   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonIsoOEta   Muon  0.9   1.2   -1 0.15  None  0.3   -1 -1 -1 StandaloneMuonIsoOEta   100   0   150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneMuon StandaloneMuonLDR Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 StandaloneMuonLDR 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
# Standalone displaced muon collection, no quality.  Use PT2                                                                         
StandaloneDisplacedMuon StandaloneDisplacedMuon Muon  -1 2.4   -1 -1 None  0.3   -1 -1 -1 StandaloneDisplacedMuon 100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIso Muon  -1 2.4   -1 0.15  None  0.3   -1 -1 -1 StandaloneDisplacedMuonIso  100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelIso Muon  -1 0.83  -1 0.15  None  0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelIso  100   0  150   30 -1 1  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoE   Muon  -1 2.4   -1 0.15  None  0.3   3  -1 -1 StandaloneDisplacedMuonIsoE 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoB   Muon  -1 2.4   -1 0.15  None  0.3   1  -1 -1 StandaloneDisplacedMuonIsoB 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonIsoO   Muon  -1 2.4   -1 0.15  None  0.3   2  -1 -1 StandaloneDisplacedMuonIsoO 100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonLDR Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 StandaloneDisplacedMuonLDR 100 0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonDXYIso Muon  -1 2.4   -1 0.15  DXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonDXYIso  100   0  150   30 -3 3  200   0  5  110   0  110   Muon
StandaloneDisplacedMuon StandaloneDisplacedMuonBarrelDXYIso Muon  -1 0.83  -1 0.15  DXYOne   0.3   -1 -1 -1 StandaloneDisplacedMuonBarrelDXYIso  100   0  150   30 -1 1  200   0  5  110   0  110   Muon
# TkMuon, no quality selection                                                                           
TkMuon   TkMuon   Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuon   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
TkMuon   TkMuonBarrel   Muon  -1 0.83  -1 -1 None  0.1   -1 -1 -1 TkMuonBarrel   100   0  150   30 -1 1  200   0  5  110 0  110   Muon
TkMuon   TkMuonIso   Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIso   100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoBarrel   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBarrel   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEndcap   Muon  0.83  2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEndcap   100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoE  Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonIsoE  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoB  Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonIsoB  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoO  Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonIsoO  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuon   TkMuonIsoExtended Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonIsoExtended 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuon   TkMuonIsoEEta  Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoEEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoBEta  Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoBEta  100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonIsoOEta  Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoOEta  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuon   TkMuonIsoExtendedEta Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonIsoExtendedEta 100   0  150   30 -3  3  200   0  5  110   0  110   Muon
TkMuon   TkMuonNoCutIso Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonNoCutIso 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuon   TkMuonBarrelIso   Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonBarrelIso   100   0  150   30 -1 1  200 0  5  110   0  110   Muon
TkMuon   TkMuonLDR   Muon  -1 2.8   -1 -1 None  1  -1 -1 -1 TkMuonLDR   100   0  150   30 -3 3  200   0  5  110   0  110 Muon
# TkMuonStubs, no quality selection                                                                         
TkMuonStub  TkMuonStub  Muon  -1 2.4   -1 -1 None  0.1   -1 -1 -1 TkMuonStub  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuonStub  TkMuonStubWide Muon  -1 2.8   -1 -1 None  0.1   -1 -1 -1 TkMuonStubWide 100   0  150   30 -3 3  200   0  5   110   0  110   Muon
TkMuonStub  TkMuonStubBarrelIso  Muon  -1 0.83  -1 0.15  None  0.1   -1 -1 -1 TkMuonStubBarrelIso  100   0  150   30 -1  1  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIso  Muon  -1 2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIso  100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubWideIso Muon  -1 2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubWideIso 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoE Muon  -1 2.8   -1 0.15  None  0.1   3  -1 -1 TkMuonStubIsoE 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoB Muon  -1 2.8   -1 0.15  None  0.1   1  -1 -1 TkMuonStubIsoB 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoO Muon  -1 2.8   -1 0.15  None  0.1   2  -1 -1 TkMuonStubIsoO 100   0  150   30 -3 3  200   0   5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoExtended   Muon  -1 2.8   -1 0.15  None  0.1   4  -1 -1 TkMuonStubIsoExtended   100   0  150 30 -3 3  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoEEta Muon  1.2   2.4   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoEEta 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoBEta Muon  -1 0.9   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoBEta 100   0  150   30 -3 3  200 0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoOEta Muon  0.9   1.2   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoOEta 100   0  150   30 -3 3 200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubIsoExtendedEta   Muon  2.4   2.8   -1 0.15  None  0.1   -1 -1 -1 TkMuonStubIsoExtendedEta   100 0  150   30 -3 3  200   0  5  110   0  110   Muon
TkMuonStub  TkMuonStubLDR  Muon  -1 2.4   -1 -1 None  1  -1 -1 -1 TkMuonStubLDR  100   0  150   30 -3 3  200   0  5  110 0  110   Muon
TkMuonStub  TkMuonStubExtendedLDR   Muon  2.4   2.8   -1 -1 None  1  -1 -1 -1 TkMuonStubExtendedLDR   100   0  150   30  -3 3  200   0  5  110   0  110   Muon
# Standalone photons: EG + photon ID                                                                           
EG EG Photon   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EG 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGIso Photon   -1 2.4   -1 0.1   UseFlag  0.2   -1 -1 -1 EGIso 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGWideIso   Photon   -1 2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGWideIso   100   0  150   30 -3 3  200   0  5  100 0  10 EG
EG EGLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGLDR 100   0  150   30 -3 3  200   0  5  100   0  10 EG
EG EGExtendedIso  Photon   2.4   2.8   -1 0.1   UseFlag  0.2   -1 -1 -1 EGExtendedIso  100   0  150   30 -3 3  200   0   5  100   0  10 EG
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID   Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   100   0  150   30 -3 3  200   0  5   100   0  10 EG
EGTrackID   EGTrackIDIso   Electron -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDIso   100   0  150   30 -3 3  200 0  5  100   0  10 EG
EGTrackID   EGTrackIDWideIso  Electron -1 2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDWideIso  100   0  150   30 -3  3  200   0  5  100   0  10 EG
EGTrackID   EGTrackIDLDR   Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 EGTrackIDLDR   100   0  150   30 -3 3  200   0   5  100   0  10 EG
EGTrackID   EGTrackIDExtendedIso Electron 2.4   2.8   -1 0.15  UseFlag  0.2   -1 -1 -1 EGTrackIDExtendedIso 100   0  150 30 -3 3  200   0  5  100   0  10 EG
# track-matched electrons: TkElectron + loose track ID                                                                          
TkElectronTrackID TkElectronTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronTrackID 100   0  150   30  -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDIso 100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDWideIso   Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDWideIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDExtendedIso  Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronTrackIDExtendedIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronTrackID TkElectronTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronTrackIDLDR 100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackID  Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackID  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDIso  Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDIso   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDWideIso Electron -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDWideIso  100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDExtendedIso   Electron 2.4   2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDExtendedIso 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDLDR  Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkElectronV2TrackIDLDR  100 0  150   30 -3 3  200   0  1  100   0  10 EG
# Track-matched isolated electrons: TkElectron + (no ID in barrel, 5 in endcap) + Tracker Isolation                                                                         
TkElectron  TkElectron  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectron  100   0  150   30 -3 3 200   0  1  100   0  10 EG
TkElectron  TkElectronIso  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronIso  100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectron  Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectron  100   0   150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronWide Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronWide 100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkIsoElectronExtended   Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.25  TkIsoElectronExtended 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectron  TkElectronLDR  Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronLDR  100   0  150   30 -3  3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2   Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2   100   0  150 30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2Iso   Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2Iso   100 0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2IsoWide  Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 -1 -1 TkElectronV2IsoWide   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2   Electron -1 2.4   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2 100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2Wide  Electron -1 2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2Wide   100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkIsoElectronV2Extended Electron 2.4   2.8   -1 0.15  BarrelNoneEndcapFive 0.15  -1 0.1   0.125 TkIsoElectronV2Extended  100   0  150   30 -3 3  200   0  1  100   0  10 EG
TkElectronV2   TkElectronV2LDR   Electron -1 2.4   -1 -1 BarrelNoneEndcapFive 1  -1 -1 -1 TkElectronV2LDR   100   0  150 30 -3 3  200   0  1  100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation                                                                         
TkPhotonTrackID   TkPhotonTrackID   Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonTrackID   100   0  150   30  -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIso   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIso   100   0   150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDIsoWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonTrackIDIsoWide  100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackID   Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackID   100 0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDWide  Photon   -1 2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDWide   100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkIsoPhotonTrackIDExtended Photon   2.4   2.8   -1 0.15  UseFlag  0.15  -1 0.29  0.39  TkIsoPhotonTrackIDExtended  100   0  150   30 -3 3  200   0  0.6   100   0  10 EG
TkPhotonTrackID   TkPhotonTrackIDLDR   Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonTrackIDLDR   100   0  150 30 -3 3  200   0  0.6   100   0  10 EG
# TkPhoton + Loose track ID + tracker isolation (PV)                                                                        
TkPhotonPVTrackID TkPhotonPVTrackID Photon   -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackID 100   0  150   30  -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDIso Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVTrackIDIso 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVTrackID Photon   -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVTrackID 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVTrackIDLDR Photon   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVTrackIDLDR 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackID Electron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackID 100   0  150 30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDIso Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 -1 -1 TkPhotonPVEleTrackIDIso 100 0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkIsoPhotonPVEleTrackID Electron -1 2.4   -1 0.15  UseFlag  0.15  -1 0.064 0.058 TkIsoPhotonPVEleTrackID  100   0  150   30 -3 3  200   0  0.25  100   0  10 EG
TkPhotonPVTrackID TkPhotonPVEleTrackIDLDR Electron -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 TkPhotonPVEleTrackIDLDR 100   0   150   30 -3 3  200   0  0.25  100   0  10 EG
# PuppiJets                                                                         
PuppiJet PuppiJet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PuppiJet 200   0  600   50 -3 3  200   0  5  100   0  10  Jet
PuppiJet PuppiJetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 PuppiJetWide   200   0  600   50 -5.2  5.2   200   0   5  100   0  10 Jet
PuppiJet PuppiJetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 PuppiJetABitForward  200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 PuppiJetForward   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 PuppiJetLDR 200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PuppiJet PuppiJetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 PuppiJetForwardLDR   200   0  600   50 -5.2 5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 PuppiJet25  200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PuppiJet PuppiJetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 PuppiJetWide25 200   0  600   50 -5.2  5.2   200   0   5  100   0  10 Jet
PuppiJet PuppiJetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 PuppiJetABitForward25   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 PuppiJetForward25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 PuppiJetLDR25  200   0  600   50 -3 3  200   0  5   100   0  10 Jet
PuppiJet PuppiJetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 PuppiJetForwardLDR25 200   0  600   50 -5.2 5.2   200   0  5  100   0  10 Jet
# PuppiJets (PFPhase1L1)                                                                           
PFPhase1Jet PFPhase1Jet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFPhase1Jet 200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PFPhase1Jet PFPhase1JetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetWide   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward  200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetForward   200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR 200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1Jet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 PFPhase1Jet25  200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetWide25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward25   200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetForward25 200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR25  200   0  600   50 -3 3  200 0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR25 200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
# PuppiHT, PFPhase1HT                                                                           
PuppiHT0 PuppiHT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiHT  200   0  1200  50 -3 3  200   0  5  100   0  10 HT
PFPhase1HT0 PFPhase1HT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 PFPhase1HT  200   0  1200  50 -3 3  200   0  5  100   0  10  HT
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# PFTau, no isolation requirement; and PFIsoTau with medium working point                                                                          
PFTau PFTau VisTau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
PFTau PFTauIso VisTau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 PFTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
PFTau PFIsoTau VisTau   -1 2.4   -1 0.15  UseFlag  0.3   -1 -1 -1 PFIsoTau 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
PFTau PFTauLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 PFTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
# CaloTau                                                                           
CaloTau  CaloTau  VisTau   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
CaloTau  CaloTauIso  VisTau   -1 2.4   -1 0.15  None  0.3   -1 -1 -1 CaloTauIso  150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
CaloTau  CaloTauLDR  VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTauLDR  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
# CaloJets                                                                          
CaloJet  CaloJet  GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloJet  150   0  700   50 -3 3  200   0  5  100   0  10  Jet
CaloJet  CaloJetWide GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 CaloJetWide 150   0  700   50 -5.2  5.2   200   0  5  100 0  10 Jet
CaloJet  CaloJetBarrel  GenJet   -1 1.5   -1 -1 None  0.3   -1 -1 -1 CaloJetBarrel  150   0  700   50 -3 3  200   0  5   100   0  10 Jet
CaloJet  CaloJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.3   -1 -1 -1 CaloJetEndcap  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
CaloJet  CaloJetFoward  GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 CaloJetFoward  150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
CaloJet  CaloJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 CaloJetLDR  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
CaloJet  CaloJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 CaloJetWideLDR 150   0  700   50 -5.2  5.2   200   0   5  100   0  10 Jet
# CaloHT                                                                         
CaloHT0  CaloHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 CaloHT   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
# CaloMHT                                                                           
CaloMHT0 CaloMHT  MHT15 -1 -1 -1 -1 None  -1 -1 -1 -1 CaloMHT  100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# TrackerJet                                                                           
TrackerJet  TrackerJet  GenJet   -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJet  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
TrackerJet  TrackerJetWide GenJet   -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetWide 150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
TrackerJet  TrackerJetBarrel  GenJet   -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetBarrel  150   0  700   50 -3 3  200 0  5  100   0  10 Jet
TrackerJet  TrackerJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetEndcap  150   0  700   50 -3 3 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetFoward  GenJet   2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetFoward  150   0  700   50 -5.2  5.2 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetLDR  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
TrackerJet  TrackerJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetWideLDR 150   0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetCharged ChargedGenJet  -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetCharged 150   0  700   50 -3  3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWide   ChargedGenJet  -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedWide   150   0  700 50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedBarrel ChargedGenJet  -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedBarrel 150   0   700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedEndcap ChargedGenJet  1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedEndcap 150 0  700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedFoward ChargedGenJet  2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedFoward 150   0   700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedLDR ChargedGenJet  -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedLDR 150   0  700 50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWideLDR   ChargedGenJet  -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedWideLDR   150 0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
# TrackerHT                                                                         
TrackerHT0  TrackerHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHT   200   0  1200  50 -3 3  200   0  5  100   0  10  HT
TrackerHT0  TrackerHTCharged  ChargedHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHTCharged  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
# TrackerHT                                                                         
TrackerMHT0 TrackerMHT  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHT  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMHT0 TrackerMHTCharged ChargedMHT30   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
TrackerMHT0 TrackerMHTMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTMET  100   0  1000  50 -3 3  200   0  5  100 0  10 HT
TrackerMHT0 TrackerMHTChargedMET ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTChargedMET 100   0  1000  50 -3 3 200   0  5  100   0  10 HT
# TrackerMET                                                                           
TrackerMET  TrackerMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
# TkTau                                                                          
TkTau TkTau VisTau   -1 2.4   -1 -1 None  0.15  -1 -1 -1 TkTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
TkTau TkTauIso VisTau   -1 2.4   -1 0.15  None  0.15  -1 -1 -1 TkTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
TkTau TkTauLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 TkTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
# CaloTkTau                                                                         
CaloTkTau   CaloTkTau   VisTau   -1 2.4   -1 -1 None  0.25  -1 -1 -1 CaloTkTau   150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
CaloTkTau   CaloTkTauIso   VisTau   -1 2.4   -1 0.15  None  0.25  -1 -1 -1 CaloTkTauIso   150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
CaloTkTau   CaloTkTauLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 CaloTkTauLDR   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
# TkEGTau                                                                           
TkEGTau  TkEGTau  VisTau   -1 2.4   -1 -1 None  0.15  -1 -1 -1 TkEGTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
TkEGTau  TkEGTauIso  VisTau   -1 2.4   -1 0.15  None  0.15  -1 -1 -1 TkEGTauIso  150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
TkEGTau  TkEGTauLDR  VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 TkEGTauLDR  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
# NNTau                                                                          
NNTau NNTau VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTau 150   0  450   30 -2.5  2.5   200   0  5  100   0  10  Tau
NNTau NNTauIso VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauIso 150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauLDR VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLDR 150   0  450   30 -2.5  2.5   200   0  5  100   0   10 Tau
NNTauLoose  NNTauLoose  VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNTauLoose  150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTauLoose  NNTauLooseIso  VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNTauLooseIso  150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
NNTauLoose  NNTauLooseLDR  VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNTauLooseLDR  150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNTau NNTauNoID   VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 NNTauNoID   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNTau NNTauNoIDIso   VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 NNTauNoIDIso   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNTau NNTauNoIDLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 NNTauNoIDLDR   150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNPFTau  NNPFTau  VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNPFTau  150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
NNPFTau  NNPFTauIso  VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNPFTauIso  150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
NNPFTau  NNPFTauLDR  VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNPFTauLDR  150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNPFTauLoose   NNPFTauLoose   VisTau   -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 NNPFTauLoose   150   0  450   30 -2.5  2.5 200   0  5  100   0  10 Tau
NNPFTauLoose   NNPFTauLooseIso   VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 NNPFTauLooseIso   150   0  450   30  -2.5  2.5   200   0  5  100   0  10 Tau
NNPFTauLoose   NNPFTauLooseLDR   VisTau   -1 2.4   -1 -1 UseFlag  1  -1 -1 -1 NNPFTauLooseLDR   150   0  450   30 -2.5 2.5   200   0  5  100   0  10 Tau
NNPFTau  NNPFTauNoID VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 NNPFTauNoID 150   0  450   30 -2.5  2.5   200   0  5   100   0  10 Tau
NNPFTau  NNPFTauNoIDIso VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 NNPFTauNoIDIso 150   0  450   30 -2.5  2.5   200   0  5  100   0  10 Tau
NNPFTau  NNPFTauNoIDLDR VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 NNPFTauNoIDLDR 150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
# HPSTau                                                                         
HPSTau   HPSTau   VisTau   -1 2.4   -1 -1 None  0.2   -1 -1 -1 HPSTau   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
HPSTau   HPSTauIso   VisTau   -1 2.4   -1 0.15  None  0.2   -1 -1 -1 HPSTauIso   150   0  450   30 -2.5  2.5   200   0   5  100   0  10 Tau
HPSTau   HPSTauLDR   VisTau   -1 2.4   -1 -1 None  1  -1 -1 -1 HPSTauLDR   150   0  450   30 -2.5  2.5   200   0  5  100 0  10 Tau
HPSTau   HPSIsoTau   VisTau   -1 2.4   -1 0.15  UseFlag  0.2   -1 -1 -1 HPSIsoTau   150   0  450   30 -2.5  2.5   200 0  5  100   0  10 Tau
