Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy        Thresholds
# Gen objects                                                                          
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenMuon  Muon  -1 2.4   -1 -1 None  -1 -1 -1 -1 GenMuon  100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
Gen   GenPhoton   Photon   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenPhoton   100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
Gen   GenJet   GenJet   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenJet   200   0  600   50 -3 3  200   0  5  100   0  10 Gen
Gen   GenTau   Tau   -1 2.4   -1 -1 None  -1 -1 -1 -1 GenTau   100   0  150   30 -2.5  2.5   200   0  5  100   0  10 Gen
# PuppiJets                                                                         
PuppiJet PuppiJet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PuppiJet 200   0  600   50 -3 3  200   0  5  100   0  10  Jet
PuppiJet PuppiJetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 PuppiJetWide   200   0  600   50 -5.2  5.2   200   0   5  100   0  10 Jet
PuppiJet PuppiJetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 PuppiJetABitForward  200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 PuppiJetForward   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 PuppiJetLDR 200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PuppiJet PuppiJetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 PuppiJetForwardLDR   200   0  600   50 -5.2 5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 PuppiJet25  200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PuppiJet PuppiJetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 PuppiJetWide25 200   0  600   50 -5.2  5.2   200   0   5  100   0  10 Jet
PuppiJet PuppiJetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 PuppiJetABitForward25   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 PuppiJetForward25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PuppiJet PuppiJetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 PuppiJetLDR25  200   0  600   50 -3 3  200   0  5   100   0  10 Jet
PuppiJet PuppiJetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 PuppiJetForwardLDR25 200   0  600   50 -5.2 5.2   200   0  5  100   0  10 Jet
# PuppiJets (PFPhase1L1)                                                                           
PFPhase1Jet PFPhase1Jet GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 PFPhase1Jet 200   0  600   50 -3 3  200   0  5  100 0  10 Jet
PFPhase1Jet PFPhase1JetWide   GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetWide   200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward  GenJet   2.4   3.5   -1 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward  200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward   GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 PFPhase1JetForward   200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR 200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR   GenJet   2.4   5  -1 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR   200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1Jet25  GenJet   -1 2.4   25 -1 None  0.3   -1 -1 -1 PFPhase1Jet25  200   0  600   50 -3 3  200   0   5  100   0  10 Jet
PFPhase1Jet PFPhase1JetWide25 GenJet   -1 5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetWide25 200   0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetABitForward25   GenJet   2.4   3.5   25 -1 None  0.3   -1 -1 -1 PFPhase1JetABitForward25   200 0  600   50 -5.2  5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForward25 GenJet   2.4   5  25 -1 None  0.3   -1 -1 -1 PFPhase1JetForward25 200   0  600   50 -5.2   5.2   200   0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetLDR25  GenJet   -1 2.4   25 -1 None  1.5   -1 -1 -1 PFPhase1JetLDR25  200   0  600   50 -3 3  200 0  5  100   0  10 Jet
PFPhase1Jet PFPhase1JetForwardLDR25 GenJet   2.4   5  25 -1 None  1.5   -1 -1 -1 PFPhase1JetForwardLDR25 200   0  600 50 -5.2  5.2   200   0  5  100   0  10 Jet
# PuppiHT, PFPhase1HT                                                                           
PuppiHT0 PuppiHT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiHT  200   0  1200  50 -3 3  200   0  5  100   0  10 HT
PFPhase1HT0 PFPhase1HT  HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 PFPhase1HT  200   0  1200  50 -3 3  200   0  5  100   0  10  HT
# PuppiMET                                                                          
PuppiMET PuppiMET MET   -1 -1 -1 -1 None  -1 -1 -1 -1 PuppiMET 100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# CaloJets                                                                          
CaloJet  CaloJet  GenJet   -1 2.4   -1 -1 None  0.3   -1 -1 -1 CaloJet  150   0  700   50 -3 3  200   0  5  100   0  10  Jet
CaloJet  CaloJetWide GenJet   -1 5  -1 -1 None  0.3   -1 -1 -1 CaloJetWide 150   0  700   50 -5.2  5.2   200   0  5  100 0  10 Jet
CaloJet  CaloJetBarrel  GenJet   -1 1.5   -1 -1 None  0.3   -1 -1 -1 CaloJetBarrel  150   0  700   50 -3 3  200   0  5   100   0  10 Jet
CaloJet  CaloJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.3   -1 -1 -1 CaloJetEndcap  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
CaloJet  CaloJetFoward  GenJet   2.4   5  -1 -1 None  0.3   -1 -1 -1 CaloJetFoward  150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
CaloJet  CaloJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 CaloJetLDR  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
CaloJet  CaloJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 CaloJetWideLDR 150   0  700   50 -5.2  5.2   200   0   5  100   0  10 Jet
# CaloHT                                                                         
CaloHT0  CaloHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 CaloHT   200   0  1200  50 -3 3  200   0  5  100   0  10 HT
# CaloMHT                                                                           
CaloMHT0 CaloMHT  MHT15 -1 -1 -1 -1 None  -1 -1 -1 -1 CaloMHT  100   0  1000  50 -3 3  200   0  5  100   0  10 HT
# TrackerJet                                                                           
TrackerJet  TrackerJet  GenJet   -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJet  150   0  700   50 -3 3  200   0  5  100 0  10 Jet
TrackerJet  TrackerJetWide GenJet   -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetWide 150   0  700   50 -5.2  5.2   200 0  5  100   0  10 Jet
TrackerJet  TrackerJetBarrel  GenJet   -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetBarrel  150   0  700   50 -3 3  200 0  5  100   0  10 Jet
TrackerJet  TrackerJetEndcap  GenJet   1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetEndcap  150   0  700   50 -3 3 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetFoward  GenJet   2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetFoward  150   0  700   50 -5.2  5.2 200   0  5  100   0  10 Jet
TrackerJet  TrackerJetLDR  GenJet   -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetLDR  150   0  700   50 -3 3  200   0   5  100   0  10 Jet
TrackerJet  TrackerJetWideLDR GenJet   -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetWideLDR 150   0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetCharged ChargedGenJet  -1 2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetCharged 150   0  700   50 -3  3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWide   ChargedGenJet  -1 5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedWide   150   0  700 50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedBarrel ChargedGenJet  -1 1.5   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedBarrel 150   0   700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedEndcap ChargedGenJet  1.5   2.4   -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedEndcap 150 0  700   50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedFoward ChargedGenJet  2.4   5  -1 -1 None  0.4   -1 -1 -1 TrackerJetChargedFoward 150   0   700   50 -5.2  5.2   200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedLDR ChargedGenJet  -1 2.4   -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedLDR 150   0  700 50 -3 3  200   0  5  100   0  10 Jet
TrackerJet  TrackerJetChargedWideLDR   ChargedGenJet  -1 5  -1 -1 None  1.5   -1 -1 -1 TrackerJetChargedWideLDR   150 0  700   50 -5.2  5.2   200   0  5  100   0  10 Jet
# TrackerHT                                                                         
TrackerHT0  TrackerHT   HT30  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHT   200   0  1200  50 -3 3  200   0  5  100   0  10  HT
TrackerHT0  TrackerHTCharged  ChargedHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerHTCharged  200   0  1200  50 -3 3  200 0  5  100   0  10 HT
# TrackerHT                                                                         
TrackerMHT0 TrackerMHT  MHT30 -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHT  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMHT0 TrackerMHTCharged ChargedMHT30   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
TrackerMHT0 TrackerMHTMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTMET  100   0  1000  50 -3 3  200   0  5  100 0  10 HT
TrackerMHT0 TrackerMHTChargedMET ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMHTChargedMET 100   0  1000  50 -3 3 200   0  5  100   0  10 HT
# TrackerMET                                                                           
TrackerMET  TrackerMET  MET   -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMET  100   0  1000  50 -3 3  200   0  5  100   0  10  HT
TrackerMET  TrackerMETCharged ChargedMET  -1 -1 -1 -1 None  -1 -1 -1 -1 TrackerMETCharged 100   0  1000  50 -3 3  200 0  5  100   0  10 HT
