Input Object   Directory   Reference   |Eta| Min   |Eta| Max   L1 PT Min   Reference Iso  Quality  DR Cut   Type / Region  IsolationBB IsolationEC Histogram   Binning for PT       Binning for eta         Binning for iso         Binning for dxy         Thresholds
Gen   GenElectron Electron -1 2.4   -1 -1 None  -1 -1 -1 -1 GenElectron 100   0  150   30 -2.5  2.5   200   0  5  100 0  10 Gen
# Standalone electrons: EG + loose track ID                                                                          
EGTrackID   EGTrackID        Electron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackID   1500   0  150   480 -2.4  2.4   200   0  5  100   0  10 EG
EGTrackID   EGTrackIDZ      ZElectron -1 2.4   -1 -1 UseFlag  0.2   -1 -1 -1 EGTrackIDZ   1500   0  150   480 -2.4  2.4   200   0  5  100   0  10 EG
EGTrackID   EGTrackIDIsoZ   ZElectron -1 2.4   -1 0.15 UseFlag  0.2   -1 -1 -1 EGTrackIDIsoZ   1500   0  150   480 -2.4  2.4   200   0  5  100   0  10 EG


# Track-matched electrons: TkElectron + loose track ID                                                                         
TkElectronV2TrackID  TkElectronV2TrackID  Electron  -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackID  1500   0  150   480 -2.4  2.4   200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDZ ZElectron -1 2.4   -1 -1 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDZ   1500   0   150   480 -2.4  2.4   200   0  1  100   0  10 EG
TkElectronV2TrackID  TkElectronV2TrackIDIsoZ   ZElectron   -1 2.4   -1 0.15 UseFlag  0.15  -1 -1 -1 TkElectronV2TrackIDIsoZ 1500   0  150  480 -2.4  2.4   200   0  1  100   0  10 EG
